<a href="https://colab.research.google.com/github/MohammedNihalLDR/Machine-learning-ML-/blob/main/Untitled31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#uplode flies uding google colab
from google.colab import files
uploaded = files.upload()

Saving synthetic_personal_finance_dataset.csv to synthetic_personal_finance_dataset.csv

In [6]:
#importing librarys
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [9]:
df=pd.read_csv("synthetic_personal_finance_dataset.csv")
df

,user_id,age,gender,education_level,employment_status,job_title,monthly_income_usd,monthly_expenses_usd,savings_usd,has_loan,loan_type,loan_amount_usd,loan_term_months,monthly_emi_usd,loan_interest_rate_pct,debt_to_income_ratio,credit_score,savings_to_income_ratio,region,record_date
0,U00001,56,Female,High School,Self-employed,Salesperson,3531.69,1182.59,367655.03,No,NaN,0.00,0,0.00,0.00,0.00,430,8.68,Other,09-01-2024
1,U00002,19,Female,PhD,Employed,Salesperson,3531.73,2367.99,260869.10,Yes,Education,146323.34,36,4953.50,13.33,1.40,543,6.16,North America,13-02-2022
2,U00003,20,Female,Master,Employed,Teacher,2799.49,1003.91,230921.21,No,NaN,0.00,0,0.00,0.00,0.00,754,6.87,Africa,12-05-2022
3,U00004,25,Male,PhD,Employed,Manager,5894.88,4440.12,304815.51,Yes,Business,93242.37,24,4926.57,23.93,0.84,461,4.31,Europe,02-10-2023
4,U00005,53,Female,PhD,Employed,Student,5128.93,4137.61,461509.48,No,NaN,0.00,0,0.00,0.00,0.00,516,7.50,Africa,07-08-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32419,U32420,30,Female,High School,Employed,Salesperson,4266.87,2861.97,273669.70,Yes,Car,498400.74,120,6227.54,8.68,1.46,434,5.34,Europe,25-02-2024
32420,U32421,51,Female,Master,Employed,Student,5725.78,2861.97,17247.57,Yes,Home,83602.57,12,7605.13,16.50,1.33,453,0.25,North America,06-06-2025
32421,U32422,18,Female,Bachelor,Self-employed,Doctor,3282.38,2861.97,22081.21,No,NaN,0.00,0,0.00,0.00,0.00,391,0.56,Other,20-07-2025
32422,U32423,36,Other,High School,Self-employed,Accountant,5035.99,2861.97,524039.88,No,NaN,0.00,0,0.00,0.00,0.00,596,8.67,Asia,07-06-2022
32423,U32424,39,Female,Master,Employed,Engineer,4410.19,2861.97,176985.54,No,NaN,0.00,0,0.00,0.00,0.00,689,3.34,North America,01-08-2023

In [10]:
#drope user_id
df=df.drop("user_id",axis=1)
df

,age,gender,education_level,employment_status,job_title,monthly_income_usd,monthly_expenses_usd,savings_usd,has_loan,loan_type,loan_amount_usd,loan_term_months,monthly_emi_usd,loan_interest_rate_pct,debt_to_income_ratio,credit_score,savings_to_income_ratio,region,record_date
0,56,Female,High School,Self-employed,Salesperson,3531.69,1182.59,367655.03,No,NaN,0.00,0,0.00,0.00,0.00,430,8.68,Other,09-01-2024
1,19,Female,PhD,Employed,Salesperson,3531.73,2367.99,260869.10,Yes,Education,146323.34,36,4953.50,13.33,1.40,543,6.16,North America,13-02-2022
2,20,Female,Master,Employed,Teacher,2799.49,1003.91,230921.21,No,NaN,0.00,0,0.00,0.00,0.00,754,6.87,Africa,12-05-2022
3,25,Male,PhD,Employed,Manager,5894.88,4440.12,304815.51,Yes,Business,93242.37,24,4926.57,23.93,0.84,461,4.31,Europe,02-10-2023
4,53,Female,PhD,Employed,Student,5128.93,4137.61,461509.48,No,NaN,0.00,0,0.00,0.00,0.00,516,7.50,Africa,07-08-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32419,30,Female,High School,Employed,Salesperson,4266.87,2861.97,273669.70,Yes,Car,498400.74,120,6227.54,8.68,1.46,434,5.34,Europe,25-02-2024
32420,51,Female,Master,Employed,Student,5725.78,2861.97,17247.57,Yes,Home,83602.57,12,7605.13,16.50,1.33,453,0.25,North America,06-06-2025
32421,18,Female,Bachelor,Self-employed,Doctor,3282.38,2861.97,22081.21,No,NaN,0.00,0,0.00,0.00,0.00,391,0.56,Other,20-07-2025
32422,36,Other,High School,Self-employed,Accountant,5035.99,2861.97,524039.88,No,NaN,0.00,0,0.00,0.00,0.00,596,8.67,Asia,07-06-2022
32423,39,Female,Master,Employed,Engineer,4410.19,2861.97,176985.54,No,NaN,0.00,0,0.00,0.00,0.00,689,3.34,North America,01-08-2023

In [14]:
#finding the shape
df.shape

(32424, 19)

In [15]:
# looking for the ndimation
df.ndim

2

In [16]:
#looking  for the columens
df.columns

Index(['age', 'gender', 'education_level', 'employment_status', 'job_title',
       'monthly_income_usd', 'monthly_expenses_usd', 'savings_usd', 'has_loan',
       'loan_type', 'loan_amount_usd', 'loan_term_months', 'monthly_emi_usd',
       'loan_interest_rate_pct', 'debt_to_income_ratio', 'credit_score',
       'savings_to_income_ratio', 'region', 'record_date'],
      dtype='object')

In [17]:
#looking for the nul value
df.isnull().sum()

age                            0
gender                         0
education_level                0
employment_status              0
job_title                      0
monthly_income_usd             0
monthly_expenses_usd           0
savings_usd                    0
has_loan                       0
loan_type                  19429
loan_amount_usd                0
loan_term_months               0
monthly_emi_usd                0
loan_interest_rate_pct         0
debt_to_income_ratio           0
credit_score                   0
savings_to_income_ratio        0
region                         0
record_date                    0
dtype: int64

In [20]:
# Check for duplicates
duplicates = df.duplicated().sum()
print("Duplicate rows:", duplicates)

Duplicate rows: 0

In [13]:
#finding the information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32424 entries, 0 to 32423
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      32424 non-null  int64
 1   gender                   32424 non-null  object
 2   education_level          32424 non-null  object
 3   employment_status        32424 non-null  object
 4   job_title                32424 non-null  object
 5   monthly_income_usd       32424 non-null  float64
 6   monthly_expenses_usd     32424 non-null  float64
 7   savings_usd              32424 non-null  float64
 8   has_loan                 32424 non-null  object
 9   loan_type                12995 non-null  object
 10  loan_amount_usd          32424 non-null  float64
 11  loan_term_months         32424 non-null  int64
 12  monthly_emi_usd          32424 non-null  float64
 13  loan_interest_rate_pct   32424 non-null  float64
 14  debt_to_income_ratio     32424 non-null  float64
 15  credit_score             32424 non-null  int64
 16  savings_to_income_ratio  32424 non-null  float64
 17  region                   32424 non-null  object
 18  record_date              32424 non-null  object
dtypes: float64(8), int64(3), object(8)
memory usage: 4.7+ MB

Empty DataFrame
Columns: []
Index: []